*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    border: 2px solid black;
    height: 100vh;
}
.navbar{
    width: 100%;
    height:100px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 80px;
    color: rgb(75, 73, 73);
    align-items: center;
}
.navbar button{
    font-weight: bold;
    width: 120px;
    height:30px ;
    border-radius: 5px;
    color: rgb(19, 168, 168);
    background-color:aliceblue;
    align-items: center;

}

.box1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
.jrbox{
     width: 30%;
     height: 700px;
     margin-left:180px;

}
.jrbox h1{
    margin-top:30px;
    color: black;
    font-size: 50px;

}
.jrbox p{
    margin-top:20px;
    font-size: larger;
 }

 .jrbox button{
    margin-top:40px ;
    width:200px;
    height:60px;
    background-color: rgb(2, 162, 236);
    color: white;
    border-radius:20px ;
    border:none ;

 }
 .hey h1{
    color: rgb(2, 162, 236);

 }
 .image{
    width: 40%;
    height: 700px;
    background-image: url("washing machine.jpg");
    background-repeat: no-repeat;
 }
 
